<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Careers</title>
  <style>
    h1{
      font-size:2.5rem;
      font-family:roboto;
      font-weight:normal;
      color: rgb(50,50,50);
      text-align:center;
    }
    #banner{
      width: 100%;
      height: 360px;
      object-fit:cover;
    }
    h2{
      font-family:Roboto;
      font-size:2rem;
      color:rgb(70,70,70) ;
      font-weight:normal;
    }
    .body-txt{
      font-family:courier;
      font-weight:normal;
    }
    #container{
      max-width:720px;
      margin:0 auto 0 auto;
    }
  </style>
</head>
<body>
  <div id=container>
  <h1>Get Careers</h1>
  <img id='banner' src="../static/banner.jpg">
  <h2>About Get</h2>
  <p class="body-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius morbi enim nunc faucibus. Cursus sit amet dictum sit amet justo donec. Consequat mauris nunc congue nisi vitae suscipit tellus. Metus vulputate eu scelerisque felis imperdiet. Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Tempor nec feugiat nisl pretium fusce id velit ut tortor. Eget nullam non nisi est sit amet facilisis. Sed adipiscing diam donec adipiscing tristique risus. At urna condimentum mattis pellentesque id nibh tortor id aliquet. Sit amet nisl suscipit adipiscing.

Tincidunt arcu non sodales neque sodales ut. Semper quis lectus nulla at volutpat diam ut venenatis. Tristique et egestas quis ipsum suspendisse ultrices gravida. Fermentum dui faucibus in ornare quam. Amet cursus sit amet dictum. Consectetur adipiscing elit ut aliquam purus sit amet. Facilisis volutpat est velit egestas dui id. U</p>
  <h2>Open Positions</h2>
  <p class="body-txt">to do {show the jobs}</p>
    <div style="text-align:center;">
  <button>Contact Us</button>
      <p>Copyright 2022, GetCareers</p>
    </div>
  </div>
</body>
</html>